<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
     <title>{{ page.title }}</title>
     <meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
     <meta http-equiv="content-language" content="en"></meta>
     <link rel="stylesheet" type="text/css" href="../css/base.css"></link>
	</head>
	<body>
	<div class="wrapper">
	<div class="header">

	<div id="nav">
	<a href="index.html">Home</a>
	<a href="testimonials.html">Testimonials</a>
	<a href="blog.html">My Blog</a>
	<a href="contactme.html">Contact Me</a>	</div>
	</div><!--// header -->

	<div class="sitecontent">
	<div class="leftcolumn">
	 <div id="site_content">
	 <div id="content">
     {{ content }}
	 </div>
	 </div>
 </div>


	<div class="rightcolumn">

	<h2>Follow Me</h2>

	<p align="center">
	<a href="http://www.facebook.com/jimsweeneycloud"><img src="images/icon-fb.png" width="43" height="43" border="0"></img></a>
	<a href="https://twitter.com/#%21/DCJimS"><img src="images/icon-twitter.png" width="43" height="43" border="0"></img></a>
	<a href="http://www.linkedin.com/pub/jim-sweeney/12/871/525"><img src="images/icon-linkedin.png" width="43" height="43" border="0"></img></a>
	</p>

        <script type="text/javascript">
                        (function()
                        {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        }) ();
                        </script>

	<h2>Twitter</h2>
	<p>
	<div><ul id="twitter_update_list"></ul></div>
	</p>

	<a class="twitter-timeline" href="https://twitter.com/DCJimS" data-widget-id="425977865662767104">Tweets by @DCJimS</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div></div></div>
	</body>
	</html>
