---
layout: main
---

<div class="content_item">
  <div style="width:550px; float:left;">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <div style="width:200px; float:right; margin-left:10px;">
      <div class="sidebar">
        <h3>Follow Us</h3>
        <a href="#"><img src="images/icons/twitter.png" alt="twitter" /></a><a href="#"><img src="images/icons/facebook.png" alt="facebook" /></a><a href="#"><img src="images/icons/linkedin.png" alt="linkedin"/></a>
        <h3>Latest Update</h3>
        <div style="width:45px; float:left;"><img src="images/icons/info.png" alt="news"/></div><p>Ut tincidunt, ante vel fermentum iaculis, turpis \
	  sem pulvinar diam, sit amet ullamcorper nibh dui ac nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos:</p>
        <h3>Other Stories</h3>
	<div style="width:50px; float:left; padding: 0px 20px 20px 0px;"><a id="example4" href="images/image_small.jpg"><img alt="image" src="images/image_sidebar.jpg" /></a></div><p>Ut tincidunt, ante vel fermentum iaculis, turpis sem pulvinar diam, sit amet ullamcorper nibh dui ac nibh.</p>
        <div style="width:50px; float:left; padding: 0px 20px 20px 0px;"><a id="example7" href="images/image_small.jpg"><img alt="image" src="images/image_sidebar.jpg" /></a></div><p>Ut tincidunt, ante vel fermentum iaculis, turpis sem pulvinar diam, sit amet ullamcorper nibh dui ac nibh.</p>				
      </div>
    </div>
  </div>
</div>



 
